{% extends 'base.html' %}


{% block content %}
    <div class="py-4 px-4">
        <div>
            <h2>Detalle Factura</h2>
        </div>
        <ul>Date invoice: {{ invoice.date_invoice }}</ul>
        <ul>Client: {{ invoice.id_client }}</ul>
        <ul>Waiter: {{ invoice.id_waiter }}</ul>
        <ul>Table Location: {{ invoice.id_table }}</ul>
    </div>
    
{% endblock content %}