{% extends 'base.html' %}


{% block content %}
<div class="py-4">
    <div>
        <a class="btn btn-success" href="{% url 'invoice_create' %}">Create Invoice</a>
    </div>
    
    <table>
        <thead>
        <tr>
            <th width="100">Id</th>
            <th width="150">Date Invoice</th>
            <th width="150">Id Client</th>
            <th width="150">Id Waiter</th>
            <th width="150">Id Table</th>
        </tr>
        </thead>
        <tbody>
        {% for item in object_list %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.date_invoice }}</td>
                <td>{{ item.id_client }}</td>
                <td>{{ item.id_waiter }}</td>
                <td>{{ item.id_table }}</td>
                <td><a class="btn btn-primary" href="{% url 'invoice_update' item.id %}">Update</a></td>
                <td><a class="btn btn-danger" href="{% url 'invoice_delete' item.id %}">Delete</a></td>
                <td><a class="btn btn-secondary" href="{% url 'invoice_detail' item.id %}">Detail</a></td>
            </tr>
        {% endfor %}
        
    </table>
</div>    
{% endblock content %}
