{% extends 'base.html' %}


{% block content %}
    <div class="py-4 px-4">
        <div>
            <h2>Detail Waiter</h2>
        </div>
        <ul>{{ waiter.first_name }}</ul>
        <ul>{{ waiter.last_name }}</ul>
        
    </div>
    
{% endblock content %}