{% extends 'base.html' %}
{% block title_modal %}Crear Producto{% endblock title_modal %}

{% block content %}
    <form method="POST">{% csrf_token %}
        <div class="px-4 py-4">
            {{ form.as_p }}
            
        </div>
        <div class="px-4">
            <input type="submit" class="btn btn-success" value="Confirm">
        </div>
        
    </form>   
{% endblock content %}