{% extends 'base.html' %}


{% block content %}
    <div class="py-4 px-4">
        <div>
            <h2>Detalle Producto</h2>
        </div>
        <ul>{{ product.name }}</ul>
        <ul>{{ product.description }}</ul>
        <ul>{{ product.imported }}</ul>
    </div>
    
{% endblock content %}