{% extends 'base.html' %}


{% block content %}
<div class="py-4">
    <div>
        <a class="btn btn-success" href="{% url 'product_create' %}">Create Product</a>
    </div>
    
    <table>
        <thead>
        <tr>
            <th width="100">Id</th>
            <th width="150">Name</th>
            <th width="150">Description</th>
            <th width="150">Imported</th>
        </tr>
        </thead>
        <tbody>
        {% for item in object_list %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.imported }}</td>
                <td><a class="btn btn-primary" href="{% url 'product_update' item.id %}">Update</a></td>
                <td><a class="btn btn-danger" href="{% url 'product_delete' item.id %}">Delete</a></td>
                <td><a class="btn btn-secondary" href="{% url 'product_detail' item.id %}">Detail</a></td>
            </tr>
        {% endfor %}
        
    </table>
</div>    
{% endblock content %}