{% extends 'base.html' %}
{% block tilte_modal %}Listar Cliente{% endblock tilte_modal %}

{% block content %}
    <div class="py-4 px-4">
        <div>
            <h2>Detalle Cliente</h2>
        </div>
        <ul>{{ client.first_name }}</ul>
        <ul>{{ client.last_name }}</ul>
        <ul>{{ client.observations }}</ul>
    </div>
    
{% endblock content %}