{% extends 'base.html' %}


{% block content %}
<div class="py-4">
    <div>
        <a class="btn btn-success" href="{% url 'client_create' %}">Create Client</a>
    </div>
    
    <table>
        <thead>
        <tr>
            <th width="100">Id</th>
            <th width="150">First Name</th>
            <th width="150">Last Name</th>
            <th width="150">Observation</th>
        </tr>
        </thead>
        <tbody>
        {% for item in object_list %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.first_name }}</td>
                <td>{{ item.last_name }}</td>
                <td>{{ item.observations }}</td>
                <td><a class="btn btn-primary" href="{% url 'client_update' item.id %}">Update</a></td>
                <td><a class="btn btn-danger" href="{% url 'client_delete' item.id %}">Delete</a></td>
                <td><a class="btn btn-secondary" href="{% url 'client_detail' item.id %}">Detail</a></td>
            </tr>
        {% endfor %}
        
    </table>
</div>    
{% endblock content %}











