{% extends 'base.html' %}


{% block content %}
    <h1>Restaurant Zetien</h1> 
    <h2>Press the buttons to enter the options</h2>
    <a name="" id="" class="btn btn-dark" href="/api" role="button">Rest Framework</a>
    <ul class="container">
        <li class="my-3"><a name="" id="" class="btn btn-primary" href="{% url 'waiter_list' %}" role="button">Waiter list</a></li>
        <li class="my-3"><a name="" id="" class="btn btn-info" href="{% url 'client_list' %}" role="button">Client list</a></li>
        <li class="my-3"><a name="" id="" class="btn btn-primary" href="{% url 'invoice_list' %}" role="button">Invoice list</a></li>
        <li class="my-3"><a name="" id="" class="btn btn-info" href="{% url 'table_list' %}" role="button">Table list</a></li>
        <li class="my-3"><a name="" id="" class="btn btn-primary" href="{% url 'product_list' %}" role="button">Product list</a></li>
        <li class="my-3"><a name="" id="" class="btn btn-info" href="{% url 'order_list' %}" role="button">Order list</a></li>
        
    </ul>
{% endblock content %}