{% extends 'base.html' %}


{% block content %}
<div class="py-4">
    <div>
        <a class="btn btn-success" href="{% url 'order_create' %}">Create Order</a>
    </div>
    
    <table>
        <thead>
        <tr>
            <th width="100">Id</th>
            <th width="150">Quantity</th>
            <th width="150">Products</th>
            <th width="150">Invoices</th>
        </tr>
        </thead>
        <tbody>
        {% for item in object_list %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.products }}</td>
                <td>{{ item.invoices }}</td>
                <td><a class="btn btn-primary" href="{% url 'order_update' item.id %}">Update</a></td>
                <td><a class="btn btn-danger" href="{% url 'order_delete' item.id %}">Delete</a></td>
                <td><a class="btn btn-secondary" href="{% url 'order_detail' item.id %}">Detail</a></td>
            </tr>
        {% endfor %}
        
    </table>
</div>    
{% endblock content %}
