{% extends 'base.html' %}


{% block content %}
<form method="post">{% csrf_token %}
    <div class="px-4 py-4">
        <h2>Are you sure you want to delete order "{{ object }}"?</h2>
        {{ form }}
        <input type="submit" class="btn btn-danger" value="Confirm">
        <a name="" id="" class="btn btn-primary" href="{% url 'order_list' %}" role="button">Cancelar</a>
    </div>
    
</form>
{% endblock content %}