{% extends 'base.html' %}


{% block content %}
    <div class="py-4 px-4">
        <div>
            <h2>Detalle Orden</h2>
        </div>
        <ul>Quantity: {{ order.quantity }}</ul>
        <ul>Products: {{ order.products }}</ul>
        <ul>Invoice: {{ order.invoices }}</ul>
    </div>
    
{% endblock content %}