{% extends 'base.html' %}


{% block content %}
    <div class="py-4 px-4">
        <div>
            <h2>Detail Table</h2>
        </div>
        <ul>{{ table.num_diner }}</ul>
        <ul>{{ table.location }}</ul>
        
    </div>
    
{% endblock content %}