{% extends 'base.html' %}


{% block content %}

    <div class="py-4">
        <a class="btn btn-success" href="{% url 'table_create' %}">Create Table</a>
        <table>
            <thead>
            <tr>
                <th width="100">Id</th>
                <th width="150">Num Diner</th>
                <th width="150">Location</th>
            </tr>
            </thead>
            <tbody>
                
                    {% for item in object_list %}
               
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.num_diner }}</td>
                            <td>{{ item.location }}</td>
                            <td><a class="btn btn-primary" href="{% url 'table_update' item.id %}">Update</a></td>
                            <td><a class="btn btn-danger" href="{% url 'table_delete' item.id %}">Delete</a></td>
                            <td><a class="btn btn-secondary" href="{% url 'table_detail' item.id %}">Detail</a></td>
                        </tr>
               
                
                    {% endfor %}
            </tbody>    
        </table>  
    </div>
      

{% endblock content %}